@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dzcnsz');
  src:  url('fonts/icomoon.eot?dzcnsz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dzcnsz') format('truetype'),
    url('fonts/icomoon.woff?dzcnsz') format('woff'),
    url('fonts/icomoon.svg?dzcnsz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-eye-plus:before {
  content: "\e9cf";
}
.icon-plus:before {
  content: "\ea0a";
}
